.bonus
  .bonus__overlay.opacity-overlay
    .bonus__firstWin.hide
      .bonus__overlay-chip.overlayChip-1.hide
      .bonus__overlay-chip.overlayChip-2.hide
      .bonus__overlay-chip.overlayChip-3.hide
      .bonus__overlay-chip.overlayChip-4.hide
      .bonus__overlay-chip.overlayChip-5.hide
      .bonus__overlay-chip.overlayChip-6.hide
      .bonus__overlay-chip.overlayChip-7.hide
      .bonus__firstWin-info
        .bonus__firstWin-sum ТИ ВИГРАВ ФРІСПІНИ
        .bonus__firstWin-title #[span 150 fs]
        .bonus__firstWin-try Залишилась ще 1 спроба
        .bonus__firstWin-btn крути ще
    .bonus__secondWin.hide
      .bonus__overlay-chip.overlayChip-1.hide
      .bonus__overlay-chip.overlayChip-2.hide
      .bonus__overlay-chip.overlayChip-3.hide
      .bonus__overlay-chip.overlayChip-4.hide
      .bonus__overlay-chip.overlayChip-5.hide
      .bonus__overlay-chip.overlayChip-6.hide
      .bonus__overlay-chip.overlayChip-7.hide
      .bonus__secondWin-info
        .bonus__secondWin-sum ТИ ВИГРАВ
        .bonus__secondWin-title
          .wrap 4500₴ #[span +] 150fs
        .bonus__secondWin-try Реєструйся, бонус та фріспіни на твоєму рахунку
        a(href="#").bonus__secondWin-btn.btn Забирай бонус
  .bonus__main
    .bonus__main-logo
    .bonus__main-txt
      span.top КРУТИ КОЛЕСО
      span.bottom ОТРИМУЙ БОНУСИ
    .bonus__main-wrapper
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrowMob-1.bonus__main-wheel-arrowMob
          .bonus__main-wheel-arrowMob-2.bonus__main-wheel-arrowMob
          .bonus__main-wheel-arrowMob-3.bonus__main-wheel-arrowMob
          .bonus__main-wheel-ellipse-one.position.pulse-btn
          .bonus__main-wheel-ellipse-two.position.pulse-btn
          .bonus__main-wheel-btn-bottom.position
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-reel.position
    .bonus__footer
      .bonus__footer-top
        img(src='img/footer-1.svg' alt='footer')
      .bonus__footer-bottom
        a(href='https://apps.apple.com/ua/app/favorit-sport-sport-betting/id1076305677').bonus__footer-link.bonus__footer-appStore
          img(src='img/appStore.png' alt='app-store')
        a(href='https://favbet.com/minio/android-files/version3/Favbet.apk').bonus__footer-link.bonus__footer-googlePlay
          img(src='img/googlePlay.svg' alt='google-play')

