.bonus
  .bonus__overlay.opacity-overlay
    .bonus__firstWin.hide
      .bonus__overlay-chip.overlayChip-1.hide
      .bonus__overlay-chip.overlayChip-2.hide
      .bonus__overlay-chip.overlayChip-3.hide
      .bonus__overlay-chip.overlayChip-4.hide
      .bonus__overlay-chip.overlayChip-5.hide
      .bonus__overlay-chip.overlayChip-6.hide
      .bonus__overlay-chip.overlayChip-7.hide
      .bonus__firstWin-info
        .bonus__firstWin-sum VOCÊ VENCEU:
        .bonus__firstWin-title #[span 1500 BRL]
        .bonus__firstWin-try 1 tentativa restante
        .bonus__firstWin-btn GIRE MAIS
    .bonus__secondWin.hide
      .bonus__overlay-chip.overlayChip-1.hide
      .bonus__overlay-chip.overlayChip-2.hide
      .bonus__overlay-chip.overlayChip-3.hide
      .bonus__overlay-chip.overlayChip-4.hide
      .bonus__overlay-chip.overlayChip-5.hide
      .bonus__overlay-chip.overlayChip-6.hide
      .bonus__overlay-chip.overlayChip-7.hide
      .bonus__secondWin-info
        .bonus__secondWin-sum VOCÊ VENCEU:
        .bonus__secondWin-title
          .wrap 1500BRL #[span +] 300BRL
        .bonus__secondWin-try Registre-se, faça o primeiro depósito e receba os bônus
        a(href="#").bonus__secondWin-btn.btn RECEBA OS BÔNUS
  .bonus__main
    .bonus__main-logo
    .bonus__main-txt
      span.top GIRE A RODA
      span.bottom E APANHE OS BÔNUS
    .bonus__main-wrapper
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrowMob-1.bonus__main-wheel-arrowMob
          .bonus__main-wheel-arrowMob-2.bonus__main-wheel-arrowMob
          .bonus__main-wheel-arrowMob-3.bonus__main-wheel-arrowMob
          .bonus__main-wheel-ellipse-one.position.pulse-btn
          .bonus__main-wheel-ellipse-two.position.pulse-btn
          .bonus__main-wheel-btn-bottom.position
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-reel.position
    .bonus__footer
      img(src='img/visa.svg' alt='visa').bonus__footer-img.bonus__footer-img-visa
      img(src='img/coins.svg' alt='coins').bonus__footer-img.bonus__footer-img-coins
      img(src='img/mastercard.svg' alt='mastercard').bonus__footer-img.bonus__footer-img-master

